apiVersion: apps/v1
kind: Deployment
metadata:
  name: somtranscriber-backend
  labels:
    app: somtranscriber-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: somtranscriber-backend
  template:
    metadata:
      labels:
        app: somtranscriber-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/alimohamed/somtranscriber-backend:0.1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: somtranscriber-backend-config
            - secretRef:
                name: somtranscriber-backend-secret
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
          resources:
            requests:
              cpu: "200m"
              memory: "384Mi"
            limits:
              cpu: "1000m"
              memory: "1024Mi"
