apiVersion: apps/v1
kind: Deployment
metadata:
  name: somtranscriber-redis
  labels:
    app: somtranscriber-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: somtranscriber-redis
  template:
    metadata:
      labels:
        app: somtranscriber-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "50m"
              memory: "96Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
